[Unit]
Description=Liercd
After=network.target

[Service]
Type=simple
User=leedo
Group=leedo
EnvironmentFile=/home/leedo/src/lierc/.prod.env
ExecStart=/home/leedo/go/bin/liercd
Restart=on-failure

[Install]
WantedBy=multi-user.target
