POSTGRES_USER=leedo
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_HOST=127.0.0.1
POSTGRES_DB=lierc
LIERCD_HOST=127.0.0.1
API_STATS=http://127.0.0.1:5003/stats
API_URL=https://relaychat.party
VAPID_PRIVATE={{ vapid_private }}
LIERCD_HOST=127.0.0.1
API_BASE=""
API_SECRET={{ api_secret }}
API_SECURE=1
API_KEY={{ api_key }}
NSQD_HOST=127.0.0.1
NSQ_TAIL=/usr/local/bin/nsq_tail
SMTP_OPTS=smtp,smtp.resend.com,SSL,1,Port,2465,AuthUser,resend,AuthPass,{{ smtp_password }},Hello,relaychat.party
FROM_ADDRESS=noreply@relaychat.party
USER_RATE_LIMIT=30m
