[Unit]
Description=Lierc API
Requires=docker.service
After=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ghcr.io/lierc/lierc:latest
ExecStart=/usr/bin/docker run --rm --name %n -p 5004:5004 ghcr.io/lierc/lierc:latest
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
