[Unit]
Description=Liercd
Requires=docker.service
After=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ghcr.io/lierc/lierc:latest
ExecStart=/usr/bin/docker run --rm \
  --env-file /etc/lierc.env \
  --name %n \
  -p 5005:5005 \
  --network host \
  ghcr.io/lierc/lierc:latest \
  liercd

[Install]
WantedBy=multi-user.target
