[Unit]
Description=memcached
Requires=docker.service
After=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull memcached:latest
ExecStart=/usr/bin/docker run --rm \
  --name %n \
  -p 11211:11211 \
  --network host \
  memcached:latest
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
