[Unit]
Description=Noembed
Requires=docker.service
After=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ghcr.io/leedo/noembed:latest
ExecStart=/usr/bin/docker run --rm \
  --name %n \
  -p 5006:5006 \
  --network host \
  ghcr.io/leedo/noembed:latest
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
