[Unit]
Description=Image proxy
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ghcr.io/leedo/web-imageproxy:latest
ExecStart=/usr/bin/docker run --rm \
  --name %n \
  -p 5007:5007 \
  --network host \
  --log-driver=journald \
  --log-opt tag=web-imageproxy \
  ghcr.io/leedo/web-imageproxy:latest
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
